* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8e44ad;
}
.form {
    padding: 30px 40px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: line-block;
    margin-bottom: 5px;
}
.form-control input {
    border: inline-block;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form-control input:focus {
    outline: 0;
    border-color: #777;
}
.form-control.success
i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error
i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}
.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;
}
.form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}